html {
    box-sizing: border-box;
  }
  * {
    box-sizing: inherit;
  }

  body {
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    background-color:#f8f8f8;
    margin: 0;
    color: #002E57;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
  }
  /*Bilden bakom navigationen*/
  #navigation_header {
    background: url(/images/banner.jpg) no-repeat center center;
    height: 25rem;
    text-align: center;
    position: relative;
  }
  /*texten på bakgrundsbilden*/
  header h1 {
    font-size: 250%;
    color: #002E57;
    font-style: italic;
    font-weight: 100;
    position: absolute;
    top: 12rem;
    margin:0;
    background-color: rgba(209, 208, 204, 0.8);
    overflow-wrap: break-word;
    border-radius: 50px 15px;
  }

  /*Engelska länken*/
  #navigation_header #english_link {
    text-decoration: none;
    background-color: rgba(0, 46, 87, 0.8);
    color: #D1D0CC;
    position: absolute;
    top: 2rem;
    right: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 30px 15px;
  }
  #navigation_header #english_link:hover {
    background-color: rgba(0, 46, 87);
  }
  
  section {
    margin: 5%;
  }

  /*footer*/
  footer {
    background-color: #002E57;
    margin: 0;
    height: 5rem;
    display: block;
    text-align: center;
    padding: 1.5rem;
  }
  footer p {
    color: #D6CCB4;
    margin: 0.5% auto;
    font-size: 80%;
    font-style:normal;
}
/*Bilder*/
  picture {
    max-width: 100%;
}
.picture_caption{
  font-weight: bold;
}
.flexcontainer #bathamn{
  margin:1rem;
}

/*Alla tabeller*/
table {
  margin-bottom: 2rem;
}
table th {
  color: #D6CCB4;
  background-color: #002E57;
  font-size: 120%;
}
table tr:nth-child(even) {
  background-color: #D1D0CC;
}
table tr:nth-child(odd) {
  background-color: #fff;
}

/*Namnförklaringstabellen*/
#names th {
  text-align: left;
  padding-left: 1rem;
}
#names caption {
  font-size: 110%;
}
#names td {
  padding-left: 1rem;
}

/*Kontaktformuläret*/
#contact_form {
  padding-bottom: 2rem;
}
#contact_form legend{
  font-size: 80%;
  font-weight: 600;
} 
#contact_form fieldset {
  width: 10rem;
  background-color: #D1D0CC;
  border:groove #2F6A9D;
  border-radius: 15px 50px;
}
#contact_form label{
  width: 100%;
  float: none;
  text-align: left;
  display: block;
}
input[type=submit] {
  margin-bottom: 0.5rem;
  border-radius: 8px;
}
input[type=submit]:hover, input[type=submit]:focus {
  transform: scale(1.10);
}
input[type=reset]{
  border-radius: 8px;
}

input[type=reset]:hover, input[type=reset]:focus {
  transform: scale(1.10);
}

section a {
  text-decoration: none;
  color: #2F6A9D;
}
section a:visited {
  color: #2F6A9D;
}
.flexcontainer{
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content:space-between;
}

.full_width_header{
  flex: 1 0 100%;
}
  @media screen and (min-width: 320px) and (max-width:767px) {
    header h1 {
      right: 15%;
      left: 15%;
    }
    
    /*Navigation small screen*/
    #navBtn{
      background-color:  rgba(0, 46, 87, 0.8);
      color: #D1D0CC;
      border: none;
      font-size: 110%;
      padding: 0.5rem 1rem;
      border-radius:15px 30px;
    }

    #navbar_container {
      position: absolute;
      top: 2rem;
      left: 1rem;
      display: inline-block;
    }

    nav {
    position: absolute;
    display: none;
    background-color: #002E57;
    opacity: 0.8;
    z-index: 1;
    padding:0;
    }
    
    nav ul {
      display: flex;
      margin: 0;
      justify-content:space-evenly;
      flex-wrap: wrap; 
      list-style-type: none;
      padding:0;
    }
    nav a {
      overflow: hidden;
      text-align: left;
      display: block;
      text-decoration: none;
      color: #D1D0CC;
      background-color: rgba(0, 46, 87, 0.8);
      padding: 0.5rem 0.25rem;
    }
    #navbar_container:hover nav, #navbar_container:focus-within nav {
      display: block;   
    }
    #navbar_container:hover #navBtn {
      background-color: rgba(0, 46, 87);
    }
    nav a:hover, nav a:focus {
      background-color: #D1D0CC;
      color: rgba(0, 46, 87);
    }
    /*Medlemstabellen*/
    #members ,#members thead, #members tbody, #members th, #members td, #members tr  {
      display: block;
    }
    #members thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
    #members td {
      border: none;
      position: relative;
      padding-left: 45%;
    }
    #members td:before {
      position: absolute;
      top: 1px;
      left: 30px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
    }
    #members td:nth-of-type(1):before{
      content:"Namn";
    }
    #members td:nth-of-type(2):before{
      content:"Mail";
    }
    #members td:nth-of-type(3):before{
      content:"Telefon";
    }
  }
  
  @media screen and (min-width: 768px){
    /*Navbar*/
    #navBtn {
      display: none;
    }
    header h1 {
      right: 30%;
      left: 30%;
      font-size: 300%;
    }

      #navbar_container {
        position: absolute;
        margin:2rem 5%;
        left: 10%;
        right: 10%;
        width: 70%;
        
    }
      nav {
      display: block;
      overflow: hidden;
      background-color: #002E57;
      opacity: 0.8;
      border-radius: 50px 15px;
    }
      nav ul {
        display: flex;
        margin: 0 auto;
        justify-content:space-around;
        padding: 0.5rem;
        list-style-type: none;
    }
      nav a {
        text-decoration: none;
        background-color: #002E57;
        font-size: 120%;
        color: #D1D0CC;
        display: block;
        padding: 0.5rem 1rem;
        margin: 0.5rem auto;
        border-radius: 30px 15px;
    }
    nav a:hover, nav a:focus {
      background-color: #D1D0CC;
      color: rgba(0, 46, 87);
      transform: scale(1.10);
    }
    #navigation_header #english_link{
      font-size: 120%;
      height:4rem;
      padding-top:1.25rem;
      border-radius: 50px 15px;
    }

    /*Kontaktformulär*/

    #contact_form fieldset {
      width: 40rem;
    }
    #contact_form legend {
      font-size: 100%;
    }
    #contact_form label{
      float: left;
      width: 14rem;
      text-align: right;
      margin-right: 10px;
    }
    input[type=submit] {
      margin-left: 13rem;
      margin-right: 1rem;
    }
  }
  @media screen and (min-width: 1024px){
    h2{
      padding-left:1rem;
    }
   /*Alla sidor*/
    .flexcontainer p{
      line-height: 1.5;
    }
    .flexcontainer article {
      flex: 1 0 40%;
      margin: 1rem;
    }
    /*Index page*/
    #timmerstuga {
      margin-top:5rem
    }
    #guest_harbor_info{
      flex-grow: 3;
    }
    #smhi{
      margin: 1rem;
      flex-grow: 2;
    }
    #bathamn {
      margin: 1rem;
      flex-grow: 1;
    }
    #news {
      flex: 1 0 40%;
      flex-grow: 2;
    }
    /*Turismål*/
    #strand, #skapp, #natur{
      margin:3rem 1rem;
    }
    #natur{
      margin:3rem 0.5rem;
      flex-grow: 1;
    }
    /*Historia*/
    #trabodar {
      margin:3rem 1rem;
    }
    #konrad_bildtext{
      margin:3rem 1rem;
    }
    #eksta_history_part4{
      flex-grow:2;
    }
    #storm{
      flex: 1 0 30%;
    }
    #lantern{
      margin: 1rem 5%;
    }
    #havet{
      margin-left: 30%; 
    }

    /*Medlem*/
    #fiskare{
      margin-top:5rem;
    }

    /*Kontakt*/
    #contact_info{
      flex:1 0 20%;
    }
    /*Engelska*/
    #english_page{
    flex: 2 0 30%;
    }
    #beach_houses{
    align-self: center;
    flex-grow: 1;
    margin:1rem;
    }
  }

  @media screen and (min-width: 1300px){
    .flexcontainer p{
      line-height: 1.5;
    }
    #guest_harbor_info{
      flex: 35%
    }
    #bathamn{
      margin-top: 2rem;
    }
    #timmerstuga{
      margin: 5rem 2rem;
    }
    #members th, #members td{
      font-size: 135%;
    }

  }

  @media screen and (min-width: 2000px){
    .flexcontainer article {
      flex: 2 0 30%;
    }
    #guest_harbor_info {
      flex:3 0 20%
    }
    #smhi{
      flex-grow: 2;
    }
    #news {
      flex: 1 0 60%;
  }
    #eksta_history_part1 {
      flex-grow:2;
    }
    #eksta_history_part2 {
      flex-grow:2;
    }
    #eksta_history_part3 {
      flex-grow: 1;
    }
    #lantern{
      flex-grow:2;
      order: 1;
    }
    #eksta_history_part4{
      flex-grow: 1;
      order: 2;
    }
    #storm{
      order: 3;
    }
    #havet{
      order:4;
    }
    #members th, #members td{
      font-size: 150%;
    }
    #fiskare{
      margin-right: 10%;
    }
}
