#smhi {
    width: 17rem;
    background-color: #D1D0CC;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    height: fit-content;
    overflow-wrap: break-word;
    border-radius: 15px 50px;
}
#smhi_tabel{
    border: 3px;
    border-color: #002E57;
}
#smhi_tabel th {
    color: #002E57;
    background-color: #D6CCB4;
    font-size: 125%;
  }
  #smhi_tabel td{
    font-size: 115%;
    text-align: center;
  }

/* 
  FÄRGPALETTEN
    #D6CCB4
    #2F6A9D
    #002E57
    #D1D0CC ändrad till #f8f8f8
    #00498A*/